<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Money Laundering</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->


  <link rel="shortcut icon"
  href="/static/assets/img/logo.png" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">
<style>
  		#loading {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999999999;
			overflow: hidden;
			background: rgba(255, 255, 255, 0.7);
		}
		.loader {
			border: 8px solid #f3f3f3;
			border-top: 8px solid #363e75;
			border-radius: 50%;
			width: 60px;
			height: 60px;
			left: 50%;
			margin-left: -4em;
			display: block;
			animation: spin 2s linear infinite;
		}
		.loader,
		.loader:after {
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -4.05em;
		}
    @keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
</style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="/static/assets/img/logo.png" alt="">
        <span>SmurFing</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>

            <li><a class="nav-link scrollto " href="/">Home</a></li>
            <li><a class="nav-link scrollto" href="#blog">About</a></li>
            <li><a class="nav-link scrollto" href="/">Models</a></li>
         
            <li><a class="nav-link scrollto" href="/">FAQ</a></li>
            <li><a href="/">Team</a></li>
          <!-- <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="active" href="blog.html">Blog</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="#topfoot">Contact</a></li>
          <!-- <li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/">Home</a></li>
          <li>Models</li>
        </ol>
        <h2>CatBoost</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">

          <div class="col-lg-8 entries">

            <article class="entry">

              <div class="entry-img">
                <img src="/static/assets/img/blog/catboost.png" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="https://catboost.ai/en/docs/concepts/python-usages-examples" target=”_blank”>CatBoost is a powerful gradient boosting framework</a>
              </h2>

              <!-- <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="https://catboost.ai/en/docs/concepts/python-usages-examples">John Doe</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="https://catboost.ai/en/docs/concepts/python-usages-examples"><time datetime="2020-01-01">Jan 1, 2020</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="https://catboost.ai/en/docs/concepts/python-usages-examples">12 Comments</a></li>
                </ul>
              </div> -->

              <div class="entry-content">
                <p>
                    CatBoost is a powerful gradient boosting framework for classification tasks in Python. It can handle categorical variables without the need for preprocessing or one-hot encoding, and incorporates various techniques to prevent overfitting and improve accuracy. To use CatBoost, you need to install the library, prepare your data as pandas DataFrames, and train the CatBoostClassifier using the fit method. Once trained, you can use the predict method to make predictions on new data, or predict_proba to get the class probabilities. CatBoost also provides many options for hyperparameter tuning, cross-validation, and feature selection, making it a flexible and effective choice for classification tasks.
                </p>
                <div class="read-more">
                  <a href="https://catboost.ai/en/docs/concepts/python-usages-examples" target=”_blank”>Read More</a>
                </div>
              </div>

            </article><!-- End blog entry -->

           

       

            

          

          </div><!-- End blog entries list -->

        

        </div>

      </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
    <footer id="footer" class="footer">
    <div class="footer-newsletter">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
             			<h2 class="entry-title" style="color: #012970;font-weight: bold;">Money Laundering Detection using CatBoostClassifier</h2>
            </div>
            <!-- <div class="col-lg-6">
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="Subscribe">
              </form>
            </div> -->
          </div>
        </div>
      </div>
      <!-- <div id="loading"><div class="loader"></div></div> -->
      
	<section class="testimonials text-center">
		<div class="container-fluid">

			<div class="row justify-content-center">
				<div class="col-md-6 col-xs-12">
					
                   
					<form method="post" id="datafetch_form" enctype="multipart/form-data">
						<div class="form-group files color">
							<input type="text" name = "csvfile" id="csvfile" class="form-control" placeholder="Enter absolute file path." required>
						</div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Fraud" id="inlineRadio7" value="Fraud">
              <label class="form-check-label" for="inlineRadio7">Print Fraud Data</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="Fraud" id="inlineRadio8" value="No Fraud">
              <label class="form-check-label" for="inlineRadio8">Print No Fraud Data</label>
            </div>
						<div class=""><button style="font-weight: bold; background-color: #4154f1;font-size: 16px;
                            padding: 0 30px;
                            margin: 3px;
                            background: #4154f1;
                            color: #fff;
                            transition: 0.3s;
                            padding-top: 10px;
                            margin-top: 20px;
                            padding-bottom: 10px;
                            border-radius: 4px;"class="form-control btn-primary" id="customfile">Input File Predict</button></div>
						
					</form>
				</div>
				<!-- <div class="res-container  col-md-6 col-xs-12">
					<div class="result-box shadow rounded-lg" style="width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    height: 260px;
                    padding: 10px;
                    overflow-y: auto;">
						<h6 class="title">Results</h6>
						<div class="json-result">
							
						</div>
            <div id="csv-data"></div>
					</div>
				</div> -->





        <div class="res-container  text-center">
          <div class="result-box shadow rounded-lg" style="width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 50px;
                    height: 260px;
              
                    padding: 10px;
                    overflow-y: auto;">
            <h6 class="title" style="      text-transform: uppercase;
                        font-weight: bold;">Results</h6>
            <div class="json-result" id="resssssssssss">

            </div>
            <div id="csv-data"></div>
          </div>
        </div>









			</div>						
		</div>
	</section>

  <!-- <table class="table table-hover"id="data-table"> -->
    <!-- <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
      </tr>
    </thead> -->
    <!-- <tbody>
      {{ data | safe }}
    </tbody>
</table>
  </table> -->

    <!-- ======= Footer ======= -->
    <!-- <footer id="footer" class="footer"> -->


    
        <div class="footer-top" id="topfoot">
          <div class="container">
            <div class="row gy-4">
              <div class="col-lg-5 col-md-12 footer-info">
                <a href="/ "class="logo d-flex align-items-center">
                      <img src="/static/assets/img/logo.png"alt="">

                  <span>SmurFing</span>
                </a>
                <p>
                  
                  Money laundering is the process of concealing the origins of illegally obtained funds by making them appear to be legitimate. It involves transferring the proceeds of criminal activity into legitimate assets or accounts, making it difficult for authorities to trace the funds back to their illegal source.              </p>
                  <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
    
              <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
                </ul>
              </div>
    
              <!-- <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                  <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
                </ul>
              </div> -->
    
              <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>
                  Veliyath House <br>
                  Edayappuram, Aluva 683101<br>
                  kerala <br><br>
                  <strong>Phone:</strong> +91 9949745794<br>
                  <strong>Email:</strong> smurFing@gmail.com<br>
                </p>
    
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>SmurFing</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
     
            Designed by <a href="https://github.com/amalvs07" target="_blank">Amal V S</a>
          </div>
        </div>
      </footer><!-- End Footer -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- Bootstrap core JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- <script>
  $(document).ready(function(){
    $('#loading').hide();
    $("#customfile").click(function(e){
      e.preventDefault();
      $('#loading').show();
      var path = $("#csvfile").val();
      $.ajax({
        //change url below
        url : "/predict",
        type: "POST",
        data: {filepath:path},
        success: function(response){
          $(".json-result").html('Output File In Drive Folder: <a href=https://drive.google.com/drive/folders/1UGQyeMhA8YR0UFT5suftSckVvfXcBd-d?usp=sharing> Google Drive Folder</a> ' + '<pre>  File Name : ' + response + '</pre>');	
          $('#loading').hide();
        }
      });
    });
  });
</script> -->


<script>
   $(document).ready(function(){
    $('#loading').hide();
    $("#customfile").click(function(e){
      e.preventDefault();
      $('#loading').show();
      var path = $("#csvfile").val();
      
      var formData = {
              'filepath': $('#csvfile').val(),
              'type': $('input[name="Fraud"]:checked').val()
              
          };
          $.ajax({
              url: "/get_data",
              type: "POST",
              data: formData,
              success: function(response) {
                  // $.each(data, function(index, value) {
                  //     $("#data-table tbody").append("<tr><td>" + value[0] + "</td><td>" + value[1] + "</td><td>" + value[2] + "</td></tr>");
                  // });
                  // $(".json-result").html('<pre>  File Name : ' + response + '</pre>');	
   // Process the fraud data
   response.forEach(function(row) {
                            if (row['accountType'] === '0') {
                                row['accountType'] = 'DOMESTIC';
                            }else{
                              row['accountType'] = 'FOREIGN';
                            }

                            if (row['trans_type'] === '1') {
                                row['trans_type'] = 'CASH_OUT';
                            }else if(row['trans_type'] === '2'){
                              row['trans_type'] = 'PAYMENT';
                            }
                          else if(row['trans_type'] === '3'){
                            row['trans_type'] = 'CASH_IN';
}
else if(row['trans_type'] === '4'){
  row['trans_type'] = 'TRANSFER';
}
                            else{
                              row['trans_type'] = 'DEBIT';
                            }
                        });


                        var desiredAttributes = ['trans_type','amount','nameOrig','oldbalanceOrg','nameDest' , 'oldbalanceDest','accountType','isFraud'];
                   // Display the CSV data on the page
                   var tableHtml = '<table class="table table-hover">';
                        tableHtml += '<thead><tr>';
                          desiredAttributes.forEach(function(attribute) {
                            tableHtml += '<th>' + attribute + '</th>';
                        });
                        tableHtml += '</tr></thead><tbody>';

                          response.forEach(function(row) {
                            tableHtml += '<tr>';
                              desiredAttributes.forEach(function(value) {
                                tableHtml += '<td>' + row[value] + '</td>';
                            });
                            tableHtml += '</tr>';
                        });

                        tableHtml += '</tbody></table>';

                        $('#csv-data').html(tableHtml);
                  $('#loading').hide();
              }
          });
      });
  });
</script>




  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>